In [15]:
for i in range(1,11):
    for j in range(i):
         print(i-1, end="")
    print()

0
11
222
3333
44444
555555
6666666
77777777
888888888
9999999999

In [3]:
!pip install python-docx
from docx import Document
import random

def extract_questions(doc_path):
    doc = Document(doc_path)
    questions = []
    for table in doc.tables:
        for row in table.rows:
            for cell in row.cells:
                questions.append(cell.text.strip())
    return questions

def jumble_questions(doc_path):
    questions = extract_questions(doc_path)
    random.shuffle(questions)
    
    # Update the DOCX file with the jumbled questions
    doc = Document('C:\menv\BITS-ONLY.docx')
    index = 0
    for table in doc.tables:
        for row in table.rows:
            for cell in row.cells:
                if index < len(questions):
                    cell.text = questions[index]
                    index += 1
    doc.save('jumbled_questions.docx')  # Save the updated DOCX file

# Usage example
jumble_questions('original_questions.docx')

<>:19: SyntaxWarning: invalid escape sequence '\m'
<>:19: SyntaxWarning: invalid escape sequence '\m'
C:\Users\Hari\AppData\Local\Temp\ipykernel_14700\1849904002.py:19: SyntaxWarning: invalid escape sequence '\m'
  doc = Document('C:\menv\BITS-ONLY.docx')

Collecting python-docx
  Obtaining dependency information for python-docx from https://files.pythonhosted.org/packages/3e/3d/330d9efbdb816d3f60bf2ad92f05e1708e4a1b9abe80461ac3444c83f749/python_docx-1.1.2-py3-none-any.whl.metadata
  Downloading python_docx-1.1.2-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: lxml>=3.1.0 in c:\menv\lib\site-packages (from python-docx) (5.1.0)
Requirement already satisfied: typing-extensions>=4.9.0 in c:\menv\lib\site-packages (from python-docx) (4.9.0)
Downloading python_docx-1.1.2-py3-none-any.whl (244 kB)
   ---------------------------------------- 0.0/244.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/244.3 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/244.3 kB 660.6 kB/s eta 0:00:01
   -------------------- ------------------- 122.9/244.3 kB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 235.5/244.3 kB 1.6 MB/s eta 0:00:01
   ---------------------------------------- 244.3/244.3 kB 1.5 MB/s eta 0:00:00
Installing collected packages: python-docx
Successfully installed python-docx-1.1.2

[notice] A new release of pip is available: 23.2.1 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip
C:\Users\Hari\AppData\Local\Temp\ipykernel_14700\1849904002.py:19: SyntaxWarning: invalid escape sequence '\m'
  doc = Document('C:\menv\BITS-ONLY.docx')

PackageNotFoundError: Package not found at 'original_questions.docx'

In [4]:
from docx import Document
import random

def extract_questions(doc_path):
    doc = Document(doc_path)
    questions = []
    for table in doc.tables:
        for row in table.rows:
            for cell in row.cells:
                questions.append(cell.text.strip())
    return questions

def jumble_questions(doc_path):
    print(f"Trying to jumble questions in: {doc_path}")
    
    try:
        questions = extract_questions(doc_path)
        random.shuffle(questions)
        
        # Update the DOCX file with the jumbled questions
        doc = Document(doc_path)
        index = 0
        for table in doc.tables:
            for row in table.rows:
                for cell in row.cells:
                    if index < len(questions):
                        cell.text = questions[index]
                        index += 1
        
        output_path = 'jumbled_questions.docx'
        doc.save(output_path)  # Save the updated DOCX file
        print(f"Jumbled questions saved to: {output_path}")
        
    except Exception as e:
        print(f"Error processing {doc_path}: {e}")

# Usage example with full path to the DOCX file
jumble_questions('C:\menv\BITS-ONLY.docx')

<>:38: SyntaxWarning: invalid escape sequence '\m'
<>:38: SyntaxWarning: invalid escape sequence '\m'
C:\Users\Hari\AppData\Local\Temp\ipykernel_14700\1219278106.py:38: SyntaxWarning: invalid escape sequence '\m'
  jumble_questions('C:\menv\BITS-ONLY.docx')

Trying to jumble questions in: C:\menv\BITS-ONLY.docx
Jumbled questions saved to: jumbled_questions.docx

In [22]:
import pandas as pd
df=pd.read_excel(r"bits.xlsx")
df.head(2)

      स.\nQ.No                                          /Question
0            1  संगठना भक भू   ा ह ?\n[A]   फं धन  टीभ   ाया  ...
1            2  अऩने व ि◌ भ  सपर होने के   रए अ ा     होना ज य...

In [24]:
seconddf=df.loc[[40,58,10,21,149,120,8,111,76,88,48,4,150,182,176,197,2,63,78,99,19,95,170,48,132,190,92,3,0,199,117,57,11,153,7,74,118,89,1,148]]

In [25]:
seconddf.to_excel("secondpage.xlsx",index=False)

In [1]:
import pandas as pd

In [2]:
carsales={"Mercedes":[1,2,3,5],"Benz":[5,7,8,9]}

In [3]:
print(carsales.values())

dict_values([[1, 2, 3, 5], [5, 7, 8, 9]])

In [4]:
df=pd.DataFrame(carsales)

In [5]:
df.style.hide

   Mercedes  Benz
0         1     5
1         2     7
2         3     8
3         5     9

In [13]:
print(df.to_string(index=False))

 Mercedes  Benz
        1     5
        2     7
        3     8
        5     9

In [14]:
df = df.reset_index(drop=True)

In [15]:
df

   Mercedes  Benz
0         1     5
1         2     7
2         3     8
3         5     9

In [21]:
print(df.index)

RangeIndex(start=0, stop=4, step=1)

In [22]:
df.index=range(1,len(df)+1)

In [23]:
df

   Mercedes  Benz
1         1     5
2         2     7
3         3     8
4         5     9

In [24]:
df.set_index(df['Benz'])

      Mercedes  Benz
Benz
5            1     5
7            2     7
8            3     8
9            5     9

In [25]:
df = df.reset_index(drop=True)

In [26]:
df

   Mercedes  Benz
0         1     5
1         2     7
2         3     8
3         5     9

In [27]:
df.index=range(1,len(df)+1)

In [28]:
df

   Mercedes  Benz
1         1     5
2         2     7
3         3     8
4         5     9

In [29]:
df.reset_index(drop=True)

   Mercedes  Benz
0         1     5
1         2     7
2         3     8
3         5     9

In [30]:
df

   Mercedes  Benz
1         1     5
2         2     7
3         3     8
4         5     9

In [32]:
df.reset_index(drop=True,inplace=True)

In [33]:
df

   Mercedes  Benz
0         1     5
1         2     7
2         3     8
3         5     9

   A  B    C
0  1  a  0.1
3  4  d  0.4
2  3  c  0.3
   A  B    C
1  2  b  0.2
4  5  e  0.5
2  3  c  0.3

In [35]:
import random

# Generate a random integer between 1 and 100
random_int = random.randint(1, 100)
print(random_int)

51

In [36]:
import pandas as pd
import numpy as np


# Print the DataFrame
print(df)

   RandomNumbers
0              5
1             76
2             37
3             15
4             49
5             38
6            100
7             72
8              7
9             51

In [43]:
import pandas as pd
import numpy as np

df=pd.read_excel(r"bits.xlsx")
df.index=range(1,len(df)+1)

df.head(10)

       स.\nQ.No                                          /Question
1             1  संगठना भक भू   ा ह ?\n[A]   फं धन  टीभ   ाया  ...
2             2  अऩने व ि◌ भ  सपर होने के   रए अ ा     होना ज य...
3             3  भजफू त का अथग है क आऩके   ऩास नैनतक औय नैनतक  ...
4             4  महद  आऩ  अऩने  भू ों  के    साथ  खडे  ह  , तो ...
5             5  कु  छ काभ अके  रे  नहीं कए जा सकते ह  औय महद आ...
6             6  कसी संगठन भ  सबी कभगचारयमों के   मवहाय को ननदे...
7             7           साझा संगठना भक भू ों का उ े  है।\n[A]...
8             8            एक ऐसा कायक है जो नैनतक औय अनैनतक  म...
9             9              उन  स ांतो,ं  भू ों औय  व ासों को ...
10           10  "नैनतकता"                 से आमा है|\n[A] रोका...

ValueError: shape mismatch: objects cannot be broadcast to a single shape.  Mismatch is between arg 1 with shape (200,) and arg 2 with shape (10,).

In [44]:
import pandas as pd
import numpy as np

# Example DataFrame


df = pd.read_excel(r"bits.xlsx")
df=pd.DataFrame(df)
# Shuffle the values in each column randomly
for col in df.columns:
    df[col] = np.random.permutation(df[col])

# Print the DataFrame with shuffled values
print(df)

        स.\nQ.No                                          /Question
0             35  ऩो का  (POMKA)  अट   (अ◌ा◌ं  ेज़ी  म )         ...
1             25  पाइस  ाया उ ऩ   कए गए रे  ऱे  रसीद भ          ...
2            142  ननरफन के   रए  मु  भानक  ऩ  स ा               ...
3            125  भारगाडी  की   ेक वैन  भ   गाडग के    अरावा  मा...
4             22  बायतीम येरवे  आऩदा  फं धन संथथान (IRIDM),     ...
..           ...                                                ...
195          140  अवांनछत  घटनाओं  के    रए  भुआवजा  येरवे  अ धन...
196          148  आ  तो सहहत सु वधा ऩास भ               सदथमों क...
197           54  एपएनआर का ऩूरा  ऩ (अं ेजी भ )               है...
198          195  बायत के  सं वधान के  अनुसाय संघ की याजबाि◌◌ा ह...
199          194  तीसरा  िवग  के    दौयान  एचएचटी  डवाइस  के    ...

[200 rows x 2 columns]

In [3]:
import pandas as pd
df=pd.read_excel(r"bits.xlsx")
df.index=range(1,len(df)+1)

In [4]:
df

        स.\nQ.No                                          /Question
1              1  संगठना भक भू   ा ह ?\n[A]   फं धन  टीभ   ाया  ...
2              2  अऩने व ि◌ भ  सपर होने के   रए अ ा     होना ज य...
3              3  भजफू त का अथग है क आऩके   ऩास नैनतक औय नैनतक  ...
4              4  महद  आऩ  अऩने  भू ों  के    साथ  खडे  ह  , तो ...
5              5  कु  छ काभ अके  रे  नहीं कए जा सकते ह  औय महद आ...
..           ...                                                ...
196          196  भौ रक का म, क वता सं ह को ऩुयथकृ  त कयने हेतु ...
197          197  याजबाि◌◌ा हहंदी भ  उ ृ    कामग कयने के   रए भह...
198          198  ऻ◌ान- वऻ◌ान,  व ध, सांथकृ  नतक औय  ाम से  संफं...
199          199  सं वधान  की  आठवीं अनुसूची  भ   एकभा    वदे र्...
200          200  ब बाि◌◌ा सू          के  अतगगत उऩर  कयामा गमा....

[200 rows x 2 columns]

In [9]:
import random
for i in range(40):
    value=random.randint(0,len(df)-1)
    print(df.iloc[value])

   स.\nQ.No                                                   10
  /Question    "नैनतकता"                 से आमा है|\n[A] रोका...
Name: 10, dtype: object
   स.\nQ.No                                                  101
  /Question    आयो ऩत कभगचायी की भृ ु ऩय अनुर् ◌ासना भक कामगव...
Name: 101, dtype: object
   स.\nQ.No                                                  195
  /Question    भौ रक कथा / कहानी सं ह एवं उऩ ास रे खन को ऩुयथ...
Name: 195, dtype: object
   स.\nQ.No                                                   46
  /Question    मूटीएस मोबाइऱ ऐऩ के    आय-वॉरे ट भ    ूनतभ रयच...
Name: 46, dtype: object
   स.\nQ.No                                                   69
  /Question    महद पाइस रे  ऱे  रसीद का ऩहरा अंक 3 है, तो मह ...
Name: 69, dtype: object
   स.\nQ.No                                                   39
  /Question    ऩीएभएस  (PMS) का ऩूणग  ऩ (अं ेजी भ )          ...
Name: 39, dtype: object
   स.\nQ.No                                                  181
  /Question    बायत के  सं वधान के   कस अनु े द भ  संघ की याज...
Name: 181, dtype: object
   स.\nQ.No                                                   98
  /Question    एक थथामी येरवे  कभगचायी  को  उसकी  ऩूयी  सेवा ...
Name: 98, dtype: object
   स.\nQ.No                                                   67
  /Question    पाइस रे  ऱे  रसीद का  ऩहरा अक                स...
Name: 67, dtype: object
   स.\nQ.No                                                   92
  /Question    एरएऩी   नत  भाह        हदन की दय से येरवे कभगच...
Name: 92, dtype: object
   स.\nQ.No                                                  144
  /Question    अ  म घटना के  दौयान होनेवारी भृ ु के   रए दी ज...
Name: 144, dtype: object
   स.\nQ.No                                                  141
  /Question    गाडी  दुघगटना  भ   गबीय   ऩ  से  घामर  के    र...
Name: 141, dtype: object
   स.\nQ.No                                                   44
  /Question    एपएनआर का ऩूरा  ऩ (अं ेजी भ )               है...
Name: 44, dtype: object
   स.\nQ.No                                                   65
  /Question    पाइस रे  ऱे  रसीद भ                    ऩ े  हो...
Name: 65, dtype: object
   स.\nQ.No                                                  195
  /Question    भौ रक कथा / कहानी सं ह एवं उऩ ास रे खन को ऩुयथ...
Name: 195, dtype: object
   स.\nQ.No                                                   71
  /Question    Sr.DCM  को   ाहक   ाया  अऩरोड  कए  गए  दथतावेज...
Name: 71, dtype: object
   स.\nQ.No                                                  178
  /Question    भारगाडी  की   ेक वैन  भ   गाडग के    अरावा  मा...
Name: 178, dtype: object
   स.\nQ.No                                                   13
  /Question              बायतीम  येरवे  के     व ब   वबागों क...
Name: 13, dtype: object
   स.\nQ.No                                                   97
  /Question    एक  येरवे  कभगचायी  को  औसत  वेतन  ऩय  छु   ी ...
Name: 97, dtype: object
   स.\nQ.No                                                  185
  /Question    सं  वधान  की           अनुसूची  भ   याजबाि◌◌ाओ...
Name: 185, dtype: object
   स.\nQ.No                                                  182
  /Question    बायत के  सं वधान के  अनुसाय संघ की याजबाि◌◌ा ह...
Name: 182, dtype: object
   स.\nQ.No                                                  169
  /Question    बायतीम येरवे  आऩदा  फं धन संथथान (IRIDM),     ...
Name: 169, dtype: object
   स.\nQ.No                                                  101
  /Question    आयो ऩत कभगचायी की भृ ु ऩय अनुर् ◌ासना भक कामगव...
Name: 101, dtype: object
   स.\nQ.No                                                  108
  /Question    सतत  मास का ता ऩमग              है.\n[A] भान स...
Name: 108, dtype: object
   स.\nQ.No                                                  125
  /Question    ऩुनयीऺण के   रए कोई बी कामगवाही          की अव...
Name: 125, dtype: object
   स.\nQ.No                                                  186
  /Question    याजबाि◌◌ा  अ धननमभ ,  1963  कीधाया            ...
Name: 186, dtype: object
   स.\nQ.No                                                   51
  /Question    टीटीई ऐऩ  परहार के  वर             पोन के   रए...
Name: 51, dtype: object
   स.\nQ.No                                                   98
  /Question    एक थथामी येरवे  कभगचायी  को  उसकी  ऩूयी  सेवा ...
Name: 98, dtype: object
   स.\nQ.No                                                  191
  /Question    स वधान की 8वी अनुसूची भ  अफ तक  कतनी बाि◌◌ाओ क...
Name: 191, dtype: object
   स.\nQ.No                                                   74
  /Question    एमएस  ि◌डट  द ाि◌◌े ज़  म ,  Ctrl+C  का  उऩयोग ...
Name: 74, dtype: object
   स.\nQ.No                                                   34
  /Question         ऐऩ बायतीम येरवे भोफाइर ए ऱीके  न  के   रए...
Name: 34, dtype: object
   स.\nQ.No                                                  195
  /Question    भौ रक कथा / कहानी सं ह एवं उऩ ास रे खन को ऩुयथ...
Name: 195, dtype: object
   स.\nQ.No                                                   76
  /Question    भहा फधक भेटर टोकन के  ऩा               ह ।\n[A...
Name: 76, dtype: object
   स.\nQ.No                                                   35
  /Question           सु वधा आधाय, ऩैन काडग औय ऩासऩोटग जैसे भ...
Name: 35, dtype: object
   स.\nQ.No                                                   86
  /Question    एक भहहरा येरवे कभगचायी     हदन की भातृ  अवकार्...
Name: 86, dtype: object
   स.\nQ.No                                                  170
  /Question    एरएचफी (LHB) कोच का ऩूणग  ऩ  (अं ेजी  भ )     ...
Name: 170, dtype: object
   स.\nQ.No                                                   33
  /Question    कॉइस (COIS) का ऩूणग  ऩ (अं ेजी भ )       है./C...
Name: 33, dtype: object
   स.\nQ.No                                                   77
  /Question     ुऩ A औय B अ धकायी  थभ  ेणी ए                 ...
Name: 77, dtype: object
   स.\nQ.No                                                   91
  /Question    अ धकतभ           हदनों की औसत वेतन छु  ी (LAP)...
Name: 91, dtype: object
   स.\nQ.No                                                  148
  /Question    अ  म घटनाओं के   रए  व    ऩहचान सं ा (UID)    ...
Name: 148, dtype: object

In [10]:
import pandas as pd
import random

df=pd.read_excel(r"bits.xlsx")

# Number of random rows to select
num_rows_to_select = 40

# Initialize an empty DataFrame to store selected rows
selected_rows_df = pd.DataFrame()

# Generate and select random rows
for _ in range(num_rows_to_select):
    random_index = random.randint(0, len(df) - 1)
    selected_rows_df = selected_rows_df.append(df.iloc[random_index])

# Reset index of the selected rows DataFrame
selected_rows_df.reset_index(drop=True, inplace=True)

# Print the selected rows DataFrame
print(selected_rows_df)

AttributeError: 'DataFrame' object has no attribute 'append'

In [18]:
import pandas as pd
import random

# Load the Excel file into a DataFrame
df = pd.read_excel(r"bits.xlsx")

# Number of random rows to select
num_rows_to_select = 40

# Initialize an empty list to store selected rows
selected_rows = []

# Generate and select random rows
for _ in range(num_rows_to_select):
    random_index = random.randint(0, len(df) - 1)
    selected_rows.append(df.iloc[random_index])

# Create a DataFrame from the list of selected rows
selected_rows_df = pd.DataFrame(selected_rows)

# Reset index of the selected rows DataFrame
selected_rows_df.index=range(1,len(selected_rows_df)+1)

# Print the selected rows DataFrame
print(selected_rows_df)

       स.\nQ.No                                          /Question
1           145  कसी अ  म घटना के  दौयान गंबीय/क दामी चोट के   ...
2            17  येर  भदद  भ   नन  र खत  भ   से   कसे  रे न-दे ...
3           123          पॉभग का उऩमोग छोटी र् ◌ा त अ धयो ऩत कय...
4            33  कॉइस (COIS) का ऩूणग  ऩ (अं ेजी भ )       है./C...
5            69  महद पाइस रे  ऱे  रसीद का ऩहरा अंक 3 है, तो मह ...
6             7           साझा संगठना भक भू ों का उ े  है।\n[A]...
7           161  अ  म घटनाओं भ  भुआवजे का दावा थवीकाय  कमा जाना...
8           157  ऩु रस  घटना  के              हदनों के   बीतय अ...
9            28  ऩीओएस  (POS)  का  ऩूणग  ऩ (अं ेजी भ )         ...
10           79  आ  तो सहहत सु वधा ऩास भ               सदथमों क...
11           92  एरएऩी   नत  भाह        हदन की दय से येरवे कभगच...
12           84  रे  ऱे  कमटचारी एक कै  ऱ  डर ि◌ट   म     टदन क...
13           28  ऩीओएस  (POS)  का  ऩूणग  ऩ (अं ेजी भ )         ...
14          118  एभएसीऩीएस  (MACPS)                वेतन  आमोग  ...
15          163  येरवे दावा  ामा धकयण की एक ऩूणग ऩीठ भ         ...
16           34       ऐऩ बायतीम येरवे भोफाइर ए ऱीके  न  के   रए...
17           12  कथटभय  के  मय  ( ाहक  सेवा) का  अथग           ...
18          114  ऺ◌े  ीम थतय ऩय ऩीएनएभ फै ठक के   स चव         ...
19           51  टीटीई ऐऩ  परहार के  वर             पोन के   रए...
20          110  थथामी वाताग त  (PNM)            हटमय सथटभ भ  क...
21          101  आयो ऩत कभगचायी की भृ ु ऩय अनुर् ◌ासना भक कामगव...
22          167  येरवे  भ ,         आऩदा  फधन ऩय नीनत ननभागण के...
23           92  एरएऩी   नत  भाह        हदन की दय से येरवे कभगच...
24           77   ुऩ A औय B अ धकायी  थभ  ेणी ए                 ...
25          106  आयएरसी(RLC)  का  ऩूणग   ऩ  (अं ेजी  भ )       ...
26           54  टीटीई         िवक ऩों का  उऩयोग  करके    यूटीए...
27          198  ऻ◌ान- वऻ◌ान,  व ध, सांथकृ  नतक औय  ाम से  संफं...
28          170  एरएचफी (LHB) कोच का ऩूणग  ऩ  (अं ेजी  भ )     ...
29           13            बायतीम  येरवे  के     व ब   वबागों क...
30          112  ऩीएनएभ (PNM) का गठन         िवग भ   आ.\n[A] 19...
31           41  मूटीएस भोफाइर ऐऩके   भा भसे फु क  कमागमा ऩेऩय ...
32          167  येरवे  भ ,         आऩदा  फधन ऩय नीनत ननभागण के...
33          165  येरवे दावा अ धकयण के   आदे र् के   व   अऩीर, आ...
34            9              उन  स ांतो,ं  भू ों औय  व ासों को ...
35          103                को येरवे कभगचायी के   योजगाय को ...
36            5  कु  छ काभ अके  रे  नहीं कए जा सकते ह  औय महद आ...
37           24  एनआईसी  (NIC)  का  ऩूणग  ऩ (अं ेजी भ )        ...
38          147  येरवे दुघगटनाएं औय अ  म घटनाएं  (ऺनतऩूनत)ग  सं...
39           65  पाइस रे  ऱे  रसीद भ                    ऩ े  हो...
40            8            एक ऐसा कायक है जो नैनतक औय अनैनतक  म...

In [2]:
import pandas as pd
import random

# Load the Excel file into a DataFrame
df = pd.read_excel(r"bits.xlsx")

# Number of random rows to select


# Initialize an empty list to store selected rows
selected_rows = []

# Generate and select random rows
for i in range(40):
    value = random.randint(0, len(df) - 1)
    selected_rows.append(df.iloc[value])

# Create a DataFrame from the list of selected rows
selected_rows_df = pd.DataFrame(selected_rows)

# Reset index of the selected rows DataFrame
selected_rows_df.index=range(1,len(selected_rows_df)+1)

# Print the selected rows DataFrame
print(selected_rows_df)

       स.\nQ.No                                          /Question
1           104             वह य थटय है  जो येरवे कभगचारयमों की...
2           177  जफ बी चरती गाडी भ  चोयी का ऩता चरता है, तो गाड...
3            51  टीटीई ऐऩ  परहार के  वर             पोन के   रए...
4            28  ऩीओएस  (POS)  का  ऩूणग  ऩ (अं ेजी भ )         ...
5           160  अ  म  घटनाओं  भ          भंडर की जांच रयऩोटग क...
6            20  दावा वाऩसी औय आयसीटी का वेफ ऩैके  ज           ...
7           181  बायत के  सं वधान के   कस अनु े द भ  संघ की याज...
8           195  भौ रक कथा / कहानी सं ह एवं उऩ ास रे खन को ऩुयथ...
9            78  येरवे  सभूह " C" औय  ऩूवगवती  सभूह "    D" भ  ...
10           72  ई टी-आयआय का ऩूणग  ऩ (अं ेजी भ )       है./eT-...
11           65  पाइस रे  ऱे  रसीद भ                    ऩ े  हो...
12          153  फर के  जांच अ धकायी को अ  म घटना के  फाये भ  ज...
13           50  मूटीएस  मोबाइऱ  ऐऩ के    भा भ  से          तयह...
14           16            भॉड्मूर  कोच, येक  औय  मा ी  रोको  क...
15           97  एक  येरवे  कभगचायी  को  औसत  वेतन  ऩय  छु   ी ...
16          145  कसी अ  म घटना के  दौयान गंबीय/क दामी चोट के   ...
17          124          पॉभग का उऩमोग फडी र् ◌ा त अ धयो ऩत कयन...
18          197  याजबाि◌◌ा हहंदी भ  उ ृ    कामग कयने के   रए भह...
19           56  महद मा ी  कसी तकनीकी खयाफी के   कायण यूटीएस मो...
20           65  पाइस रे  ऱे  रसीद भ                    ऩ े  हो...
21           33  कॉइस (COIS) का ऩूणग  ऩ (अं ेजी भ )       है./C...
22           92  एरएऩी   नत  भाह        हदन की दय से येरवे कभगच...
23           50  मूटीएस  मोबाइऱ  ऐऩ के    भा भ  से          तयह...
24          110  थथामी वाताग त  (PNM)            हटमय सथटभ भ  क...
25          175  चरती गाडी भ  चोयी का फमान (यननग ट" ेन थे  थटेट...
26          191  स वधान की 8वी अनुसूची भ  अफ तक  कतनी बाि◌◌ाओ क...
27           84  रे  ऱे  कमटचारी एक कै  ऱ  डर ि◌ट   म     टदन क...
28          112  ऩीएनएभ (PNM) का गठन         िवग भ   आ.\n[A] 19...
29          121  ननरफन के   रए  मु  भानक  ऩ  स ा               ...
30          160  अ  म  घटनाओं  भ          भंडर की जांच रयऩोटग क...
31           17  येर  भदद  भ   नन  र खत  भ   से   कसे  रे न-दे ...
32           37            ऐऩ  को चग  औय भार मातामात  के     रए...
33          138  गाडी दुघगटना भ   भ ु  के   भाभरे  भ    नत मा ी...
34          167  येरवे  भ ,         आऩदा  फधन ऩय नीनत ननभागण के...
35           58  बीभ (BHIM) का ऩूणग  ऩ (अं ेजी भ )           है...
36            6  कसी संगठन भ  सबी कभगचारयमों के   मवहाय को ननदे...
37           70  ई-आयडी(e-RD)का ऩूणग  ऩ (अं ेजी भ )        है./...
38           22  वेफ एड" ेस  https://scr.eoffice.railnet.gov.in...
39          139  गाडी  दुघगटनाओं  के    कायण  थथाई  अ  ता  के  ...
40          117  एभएसीऩीएस (MACPS) का ऩूणग  ऩ  (अं ेजी  भ )    ...